---
layout: default
title: CLRS
---
<h1 class="title"> <i class="fas fa-graduation-cap"></i> {{ "clrs" | upcase }}</h1>
<div class="row">
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 01</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-3">
                        <strong>Exercises</strong>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-9">
                        <div class="row no-gutters">
                            {% for solution in site.data.clrs_chapter01_e %}
                            <div class="col-xl-3 col-lg-3 col-2" style="text-align:center;">
                                <a href="{{ solution.link }}">{{ solution.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-3">
                        <strong>Problems</strong>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-9">
                        <div class="row no-gutters">
                            {% for solution in site.data.clrs_chapter01_p %}
                            <div class="col-xl-3 col-lg-3 col-2" style="text-align:center;">
                                <a href="{{ solution.link }}">{{ solution.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 02</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-3">
                        <strong>Exercises</strong>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-9">
                        <div class="row no-gutters">
                            {% for solution in site.data.clrs_chapter02_e %}
                            <div class="col-xl-3 col-lg-3 col-2" style="text-align:center;">
                                <a href="{{ solution.link }}">{{ solution.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-3">
                        <strong>Problems</strong>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-9">
                        <div class="row no-gutters">
                            {% for solution in site.data.clrs_chapter02_p %}
                            <div class="col-xl-3 col-lg-3 col-2" style="text-align:center;">
                                <a href="{{ solution.link }}">{{ solution.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 03</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-3">
                        <strong>Exercises</strong>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-9">
                        <div class="row no-gutters">
                            {% for solution in site.data.clrs_chapter03_e %}
                            <div class="col-xl-3 col-lg-3 col-2" style="text-align:center;">
                                <a href="{{ solution.link }}">{{ solution.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-3">
                        <strong>Problems</strong>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-10 col-9">
                        <div class="row no-gutters">
                            {% for solution in site.data.clrs_chapter03_p %}
                            <div class="col-xl-3 col-lg-3 col-2" style="text-align:center;">
                                <a href="{{ solution.link }}">{{ solution.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>