---
layout: default
title: CLRS
---
<h1 class="title"> 
    <i onclick="randomAssignment()" class="bi bi-mortarboard-fill"></i> {{ "clrs" | upcase }}
</h1>
<h2 id="random-assignment"></h2>
{% assign count = 0 %}
{% assign complete = 0 %}
<div id="hub-container">
    <div class="row">
        {% for chapter in site.data.chapters %}
            {% if chapter.type == "Chapter" %}
                {% assign prefix = "ch" %}
                {% assign id = chapter.id %}
            {% else %}
                {% assign prefix = chapter.id %}
                {% assign id = "" %}
            {% endif %}
            {% assign exercises = prefix | append: id | append: "_e" %}
            {% assign problems = prefix | append: id | append: "_p" %}
            <div class="col-xl-4 col-lg-6 col-12 mt-3 mb-3">
                <div class="card">
                    <h5 class="card-header">{{ chapter.type | append: " " | append: id}}</h5>
                    <div class="card-body">
                        <strong>Exercises</strong>
                        <div class="row no-gutters mt-2 mb-2">
                            {% for solution in site.data[exercises] %}
                                {% capture count %}{{ count | plus: 1 }}{% endcapture %}
                                {% if solution.link == null %}
                                    <div class="col-3 clrs-link clrs-incomplete">
                                        {{ solution.name }}
                                    </div>
                                {% else %}
                                    {% capture complete %}{{ complete | plus: 1 }}{% endcapture %}
                                    <div class="col-3 clrs-link">
                                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <strong>Problems</strong>
                        <div class="row no-gutters mt-2 mb-2">
                            {% for solution in site.data[problems] %}
                                {% capture count %}{{ count | plus: 1 }}{% endcapture %}
                                {% if solution.link == null %}
                                    <div class="col-3 clrs-link clrs-incomplete">
                                        {{ solution.name }}
                                    </div>
                                {% else %}
                                    {% capture complete %}{{ complete | plus: 1 }}{% endcapture %}
                                    <div class="col-3 clrs-link">
                                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" id="percent-container">
        <h3 id="percent">{{complete | times: 1.0 | divided_by: count | times: 10000 | round | divided_by: 100.0}}% complete</h1>
    </div>
</div>

<script>
    function randomAssignment() {
        const assignment = document.getElementById('random-assignment');
        const nodes = document.querySelectorAll('.card > .card-body > .row > .clrs-incomplete');
        const cards = Array.from(nodes, el => el.closest('.card'));
        const uniqueCards = Array.from(new Set(cards));
        const randomUniqueCard = Math.floor(Math.random()*uniqueCards.length);
        const result = uniqueCards[randomUniqueCard].querySelector('.clrs-link.clrs-incomplete').innerText.trim();

        var prefix = "random assignment: ";

        const exerciseReg = /[A-D\d]\.\d\-\d/;
        const problemReg = /[A-D\d]\-\d/;
        if (exerciseReg.test(result)) {
            prefix += "Exercise ";
        } else if (problemReg.test(result)) {
            prefix += "Problem "
        }

        assignment.textContent = prefix + result;
    }
</script>