---
layout: default
title: CLRS
---
<h1 class="title"> <i class="fas fa-graduation-cap"></i> {{ "clrs" | upcase }}</h1>
<div class="row">
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 01</h5>
            <div class="card-body">
                <strong>Exercises</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch01_e %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <strong>Problem</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch01_p %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 02</h5>
            <div class="card-body">
                <strong>Exercises</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch02_e %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <strong>Problems</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch02_p %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 03</h5>
            <div class="card-body">
                <strong>Exercises</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch03_e %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <strong>Problems</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch03_p %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Chapter 04</h5>
            <div class="card-body">
                <strong>Exercises</strong>
                <strong>4.3-9 and 4.4-5 skipped until section 4.5 complete</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch04_e %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <strong>Problems</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.ch04_p %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mt-5">
        <div class="card">
            <h5 class="card-header">Appendix A</h5>
            <div class="card-body">
                <strong>Exercises</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.a1_e %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <strong>Problem</strong>
                <div class="row no-gutters mt-2 mb-2">
                    {% for solution in site.data.a1_p %}
                    <div class="col-2 clrs-link">
                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>