.card-header {
  text-align: center;
}

.nav-span {
  padding-left: 5px;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.clrs-solution {
  padding-top: .5em;
}

.next {
  text-align: right;
}

.title {
  text-align: center;
}